<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 footer-widget about-widget" >
        <img src="https://img.icons8.com/ios-filled/2x/cat.png" alt="Footer Logo">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-6 footer-widget menu-widget">
        <h3>Ссылки</h3>
        <ul>
          <li><a href="index.html"><i class="fa fa-angle-right"></i> Главная </a></li>
          <li><a href="homeforanimal.html"><i class="fa fa-angle-right"></i> Дом для животных</a></li>
          <li><a href="index.html#upcoming-event"><i class="fa fa-angle-right"></i> Мероприятия</a></li>	
          <li><a href="why.html"><i class="fa fa-angle-right"></i>Статистика и актуальность </a></li>					
      
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 footer-widget twitter-feed " >
        <h3>Контакты</h3>
        <p>Почта:<br>logik.raf@gmail.com<br>Номера телефона:<br>+7(925)362-98-56<br>+7(954)294-57-22</p>
        <div class="twitter"></div>
      </div>
    </div>
  </div>
</footer>

<section id="bottom-bar">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>&copy; 2019 <a href="index.html">Приюты</a> для всех животных</p>
      </div>
    </div>
  </div>
</section>
