<section id="page-title" class="gradient-overlay">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Последствия отсутствия приютов</h1>
      </div>
    </div>
  </div>
</section>
<section id="single-blog-post">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="content-holder">
          <div class="img-holder">
            <img src="https://cdnmyslo.ru/NewsImage/72/10/7210dced-1404-4829-a784-81163bb8e1ca_1.jpg" alt="">
          </div>
          <div class="post-title">
            <h1>Что нас ждет.</h1>
          </div>
          <div class="content">
            <p>Бродячие животные приспосабливаются к жизни в городе. Собаки объединяются в стаи, которые имеют сложную организацию, <br>свою территорию, своё логово. Они знают, где можно подкормиться. Одни регулярно обходят дворы, свалки и помойки, <br>другие попрошайничают у магазинов, кафе и столовых. И только немногие из них являются действительно бездомными бродягами.</p>

            <p><b>Ежегодно до 30 тысяч человек в Москве страдают от укусов, <br>тяжелых травм и увечий, наносимых собаками.</b></p>

            <p> Увеличится количество мусора в городах,<br>потому что животные роясь в мусорных контейнерах разбрасывают крошки и банки,<br>тем самым способствуют увеличению численности крыс.</p>
            
            <p>Количество бездомных кошек с каждым годом все больше из-за невозможности всех стерилизации животных.<br>В следствии этого животных переносящие болезни и агрессивных вырастет. </p>

          </div>
          <div class="post-title">
            <h1>Что ждет животных.</h1>
          </div>
          <div class="content">
            <p>Негативное отношение людей к животным,которые пытаются защищаться. <br>Животные будут повергаться насилию со стороны людей.  <br>Без желания людей взять животное из приюта они будут в большем количестве усыпляться.</p>

            <p><b>Животные,которые лишились дома не знают как вести себя в уличных условиях <br>в итоге умирают не зная,что им делать и как.</b></p>

            <p>Кошки замерзают от холода зимой потому что им некуда идти.<br>Это приносит неприятный запах,эмоции и болезни другим животным.<br></p>
            
            <p>Множество животных из-за резкого климата теряют свои конечности и становятся аггресивными в ответ на попытку им помочь<br>в итоге они просто не в состоянии принять помощь.  </p>

          </div>
        </div>

      </div>
    </div>
    </div>
</section>
<section id="event-sponsor">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h3>Приюты, с которыми наш сайт сотрудничает. </h3>
           <p>"Мы их спасаем понемножку, Мы подбираем их в пыли… Но на душе скребутся кошки, Мимо которых мы прошли."<br>

            Этот маленький стишок, как ни как, очень трогает за душу, отображая реальность. Недавно рожденные котята и щенята, <br>
            у которых только прорезались глазки, видя мир, подаренный им единожды, обречены на страдание без любящих опекунов — людей.<br>

            Многие из них не способны на самостоятельную жизнь в городских джунглях, не приспособленных для них условиях.<br>
             Да, очень малая часть из них привыкает к такому виду жизни, собираясь в стаи. Однако большая часть их погибает под колесами машин,<br>
              часть умирает с голоду, а третья вообще умирают от болезней…<br>
            
            Ведь это же не сложно, взять и спасти одну крохотную жизнь, подарив ей ласку, тепло и нежность. Которая, несомненно, будет взаимной!<br>
          
            Ведь нет ничего ужаснее для животных, если они с детства росли в семье, а позже, когда котенок или щенок выросли, хозяева решают <br>
            выбросить его на улицу. Причины различны, но в основном это непослушание маленького зверя. <br>
            Нельзя допускать такого, «Мы в ответе за тех, кого приучили» . Нужно бороться с преградами, тренируя своего питомца, <br>
            ведь это тоже живой организм, ему свойственны всплески эмоций, привычки. Необходимо с пониманием подходить к делу, а не искать легкий выход, оставить его на улице. На улице он пропадет…<br>
            
            Берегите своих домочадцев, именно любовь может воспитать даже в самом диком звере, уважение и привязанность!</p>
                <p>Если после прочтения данного сайта вам захотелось помочь приюту или приобрести какое-либо животное.<br>Переходите по ссылке крупных приютов Москвы и сделайте этот мир лучше</p> 
           
                <h3><a href="http://www.izpriuta.ru" target="_blank">Приют Бирюлево</a></h3>
                <h3><a href="http://priut-ks.ru " target="_blank">Приют для бродячих животных № 10</a></h3>

      </div>
    </div>
  </div>
  </div>
</section>
