<section id="page-title" class="gradient-overlay">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Увеличение бездомных животных</h1>
      </div>
    </div>
  </div>
</section>

<section id="why">
  <div class="container">
    <div class="row">
      <div class="col-lg-6  col-md-6 col-sm-8 col-lg-offset-0 col-md-offset-0 col-sm-offset-2 about-text">
        <h2>Глобализация броблемы.</h2>
        <p> По данным WSPA (Всемирного общества защиты животных) во всем мире на сегодняшний<br> день насчитывается около 500 млн. собак.<br> А важнее еще один показатель:<br> 75% всех собак в мире являются бездомными!<br>

          С кошками наверняка проблема еще хуже, <br>но в силу особенностей обитания и характера животного они труднее поддаются учету. </p>					<ul>
          <li class="clearfix">
            <div class="box gradient-overlay">
              <img src="img/about-us/icon-2.png" alt="">
            </div>
            <div class="content">
              <h3>"Лишние"питомцы</h3>
              <p>Невежество и тотальное незнание путей выхода из ситуации<br> с «лишним» животным — многие владельцы считают,<br> будто более гуманно выбросить животное<br> на улицу просто потому, <br>что не в курсе других методов. </p>
            </div>
          </li>
          <li class="clearfix">
            <div class="box gradient-overlay">
              <img src="img/about-us/icon-2.png" alt="">
            </div>
            <div class="content">
              <h3> Бесконтрольная работа клубов (заводчиков) или о «жертвах моды»</h3>
              <p>  Клубы по разведению породистых кошек и собак,<br> а также частные заводчики действуют практически бесконтрольно,<br> что приводит к появлению невостребованных животных.<br>

                Есть спрос на определённые породы, и животные используются<br> для получения породистых щенков или котят,<br> нет спроса – «лишние» особи оказываются на улице.  </p>
            </div>
          </li>
          <li class="clearfix">
            <div class="box gradient-overlay">
              <img src="img/about-us/icon-2.png" alt="">
            </div>
            
            <div class="content">
              <h3>Недостаточная просвещенность населения</h3>
              <p> Множество людей, приобретая маленького <br>красивого щенка или забавного котенка,<br> не отдают себе отчет в том, что одновременно они<br> берут на себя ответственность на доверенное им существо. </p>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12  banner wow slideInRight">
        <img src="https://i05.fotocdn.net/s108/b05f5f9fd2375b8c/public_pin_m/2381588241.jpg" alt="">
      </div>
  
    </div>
  </div>
</section>

<section id="number-facts" class="gradient-overlay">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center">
          <h1>Количество бездомных животных в разных странах.</h1>
        </div>
      </div>
    </div>
    
    <div class="row counter-row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 left">
        <div class="single-counter text-center ">
          <b class="timer">4500000</b>
          <span>Россия </span>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 center">
        <div class="single-counter text-center ">
          <b class="timer">8000000</b>
          <span>США</span>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 center">
        <div class="single-counter text-center ">
          <b class="timer">354000</b>
          <span>Израиль</span>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 right">
        <div class="single-counter text-center ">
          <b class="timer">350000</b>
          <span>Италия</span>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 right">
        <div class="single-counter text-center ">
          <b class="timer">250000</b>
          <span>Украина</span>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 right">
        <div class="single-counter text-center ">
          <b class="timer">243000</b>
          <span>Великобритания</span>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 right">
        <div class="single-counter text-center ">
          <b class="timer">150000</b>
          <span>Беларусь</span>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 right">
        <div class="single-counter text-center ">
          <b class="timer">120000</b>
          <span>Таиланд</span>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="event-speakers">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title mb30 text-center">
          <h1>Знаменитости,которые нашли себе питомцев в приюте.</h1>
          <p>Благотворительность среди знаменитостей не удивишь.<br> И все же есть поступки, которые действительно трогают,<br> потому что они совершаются не ради укрепления позиций в прессе,<br> а ради мотивации людей помогать животным,<br>делать счастливым не только себя,но и кого-то другого. </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-8 col-lg-offset-0 col-md-offset-1 col-sm-offset-1">
        <div class="single-speakers row">
          <div class="info famous text-right col-lg-6 col-md-7 col-sm-7">
            <h3>Мигель и пес Барий</h3>
            <p>Мигель сразу увидел в жизнерадостной дворняжке будущего друга, а потому забрал Бария домой. Как признается хозяин, мечта завести собаку у него была с самого детства, и вот наконец-то она исполнилась.</p>
            
          </div>
          <div class="img-holder text-center col-lg-6 col-md-5 col-sm-5">
            <div class="img-container famous" style="background-image:url('https://avatars.mds.yandex.net/get-zen_doc/1040957/pub_5c2df7d5512ee600aaa1fa48_5c2dfcb148312b00a997ecc4/scale_600')"></div>
          </div>
        </div>
        <div class="single-speakers row">
          <div class="info famous text-right col-lg-6 col-md-7 col-sm-7">
            <h3>Сергей Лазарев и собаки - Дейзи и Алиса</h3>
            <p>В 2014 году певец принимал участие в съемках социального ролика, проходивших на территории приюта для собак. Там-то ему и приглянулся черно-белый щенок Дейзи, ставший первым приютским питомцем Сергея. Недавно певец взял из приюта еще одну собаку, под обаяние которой попал на благотворительной ярмарке.</p>
          
          </div>
          <div class="img-holder text-center col-lg-6 col-md-5 col-sm-5">
            <div class="img-container famous" style="background-image:url('http://morediva.com/wp-content/uploads/2019/08/Screenshot_27-1.jpg')"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-8 col-sm-10 col-lg-offset-0 col-md-offset-1 col-sm-offset-1">
        <div class="single-speakers row">
          <div class="img-holder text-center col-lg-6 col-md-5 col-sm-5">
            <div class="img-container famous" style="background-image:url('https://www.vladtime.ru/uploads/posts/2018-05/1526584990_bezdomnyh-zhivotnyh-na-dorogah-stolicy-stanovitsya-menee-sergey-sobyanin_1.jpg')"></div>
          </div>
          <div class="info famous text-left col-lg-6 col-md-7 col-sm-7">
            <h3>Сергей Собянин и пес Джоуи</h3>
            <p>На одном из фестивалей мимо очаровательного щенка не смог пройти и мэр Москвы, Сергей Собянин. Теперь у Джоуи, подобранного волонтерами на улице, наконец появилась семья и свой дом.</p>
          
          </div>
        </div>
        <div class="single-speakers row">
          <div class="img-holder text-center col-lg-6 col-md-5 col-sm-5">
            <div class="img-container famous" style="background-image:url('https://i.pinimg.com/originals/f4/35/eb/f435eb4ecab702061de04af23e083f65.jpg')"></div>
          </div>
          <div class="info famous text-left col-lg-6 col-md-7 col-sm-7">
            <h3>Ченнинг Татум</h3>
            <p> В приюте он взял голубоглазого пса по кличке Лулу, и он стал лучшим другом американского актера.Он настолько любит своего питомца, что даже снимал собственный свитер, чтобы соорудить ему подстилку, когда тот уставал.</p>
          
          </div>
        </div>
      </div>
    </div>
  
  </div>
</section>
<section id="our-expertize" class="gradient-overlay">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center">
          <h1>Сколько % животных в год находят семью.</h1>
        </div>
      </div>
    </div>
    <div class="row expertize-row">
      <div class="single-expertize">
        <div class="icon" data-fg-color="rgba(255,255,255,.3)" data-value=".9">
          <b><span>.90</span>%</b>
        </div>
        <span>Великобритания</span>
      </div>
      <div class="single-expertize">
        <div class="icon" data-fg-color="rgba(255,255,255,.3)" data-value=".70">
          <b><span>.70</span>%</b>
        </div>
        <span>Израиль</span>
      </div>
      <div class="single-expertize">
        <div class="icon" data-fg-color="rgba(255,255,255,.3)" data-value=".45">
          <b><span>.45</span>%</b>
        </div>
        <span>Италия</span>
      </div>
      <div class="single-expertize">
        <div class="icon" data-fg-color="rgba(255,255,255,.3)" data-value=".34">
          <b><span>.34</span>%</b>
        </div>
        <span>Таиланд</span>
      </div>
      <div class="single-expertize">
        <div class="icon" data-fg-color="rgba(255,255,255,.3)" data-value=".27">
          <b><span>.27</span>%</b>
        </div>
        <span>Россия</span>
      </div>
      <div class="single-expertize">
        <div class="icon" data-fg-color="rgba(255,255,255,.3)" data-value=".18">
          <b><span>.18</span>%</b>
        </div>
        <span>Беларусь</span>
      </div>
    </div>
  </div>
</section>

<section id="event-sponsor">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h3>Приюты, с которыми наш сайт сотрудничает. </h3>
           <p>"Мы их спасаем понемножку, Мы подбираем их в пыли… Но на душе скребутся кошки, Мимо которых мы прошли."<br>

            Этот маленький стишок, как ни как, очень трогает за душу, отображая реальность. Недавно рожденные котята и щенята, <br>
            у которых только прорезались глазки, видя мир, подаренный им единожды, обречены на страдание без любящих опекунов — людей.<br>

            Многие из них не способны на самостоятельную жизнь в городских джунглях, не приспособленных для них условиях.<br>
             Да, очень малая часть из них привыкает к такому виду жизни, собираясь в стаи. Однако большая часть их погибает под колесами машин,<br>
              часть умирает с голоду, а третья вообще умирают от болезней…<br>
            
            Ведь это же не сложно, взять и спасти одну крохотную жизнь, подарив ей ласку, тепло и нежность. Которая, несомненно, будет взаимной!<br>
          
            Ведь нет ничего ужаснее для животных, если они с детства росли в семье, а позже, когда котенок или щенок выросли, хозяева решают <br>
            выбросить его на улицу. Причины различны, но в основном это непослушание маленького зверя. <br>
            Нельзя допускать такого, «Мы в ответе за тех, кого приучили» . Нужно бороться с преградами, тренируя своего питомца, <br>
            ведь это тоже живой организм, ему свойственны всплески эмоций, привычки. Необходимо с пониманием подходить к делу, а не искать легкий выход, оставить его на улице. На улице он пропадет…<br>
            
            Берегите своих домочадцев, именно любовь может воспитать даже в самом диком звере, уважение и привязанность!</p>
                <p>Если после прочтения данного сайта вам захотелось помочь приюту или приобрести какое-либо животное.<br>Переходите по ссылке крупных приютов Москвы и сделайте этот мир лучше</p> 
           
                <h3><a href="http://www.izpriuta.ru" target="_blank">Приют Бирюлево</a></h3>
                <h3><a href="http://priut-ks.ru " target="_blank">Приют для бродячих животных № 10</a></h3>

      </div>
    </div>
  </div>
  </div>
</section>