<section id="page-title" class="gradient-overlay">
  <div class="container">
    
  </div>
</section>

<section id="service-text">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center">
          <h1>Два варианта развития приютов</h1>
          <p>Чтобы приюты для животных приносили пользу<br>нужно в первую очередь адаптировать их для разных предназначений.<br>На сайте предложено два варианта адаптирования приютов:<br>Совмещение приюта и дома престарелых<br>Совмещение тюрьмы и приюта.</p>
        </div>
      </div>
    </div>
    <div class="row text-row">
      <div class="col-lg-6 col-md-6">
        <img class="wow slideInLeft"  src="http://vestirama.ru/assets/templates/images/photo/6c53e54fc094cf4cde12c024ff4bcb76.jpg" alt="">
    
    

        <h3>Совмещение приюта и дома престарелых.</h3>
        <p>Один из самых необычных домов для престарелых находится в Аризоне, <br>где пенсионерам разрешают заботиться о брошенных котятах. </p>
        <ul>
          <li>Сотрудники дома престарелых отмечают, что состояние их пациентов значительно улучшилось, а также за помощь благодарны и брошенные котята приюта. </li>
          <li>Пожилые люди находясь в изоляции от общества не имеют поводов для счастья,так же как и котята.Поэтому совместить их было прекрасной идеей,которая должна использоваваться во всех городах.</li>
          <li>Лучшее из этой инициативы состоит в том, что он люди в то же время помогают животным, которые не имеют места жительства, без перспективы найти дом и хозяина. </li>

          <li>Таким образом руководство приюта дало котятам необходимую любовь и поддержку человека, а пенсионеры получили возможность поухаживать за нуждающимся в этом, а радость от этого невозможно измерить.</li>
          <li>Так, один из пациентов, Грег Мур, который всегда боялся контакта с человеком, вдруг изменился полностью. Его противостояние закончилось, когда он увидел котят. </li>
              <li>Огромная польза для тех и других.</li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-6">
        <img  class="wow slideInRight" src="https://kulturologia.ru/files/u18046/pet-prison-03.jpg" alt="">
        <h3>Совмещение тюрьмы и приюта.</h3>
        <p>Споры о том, как именно должно проходить заключение в тюрьме, не утихают и сегодня. Возможно людям покажется это неправильным совмещать совершенно разные соц.организации,<br>но такой опыт уже есть и он дал хорошие плоды.
         </p>
        <ul>
          <li>В 2015 году в штате Индиана организация по защите животных начала программу под названием F.O.R.W.A.R.D. Суть программы заключалась в том, чтобы часть животных из приюта поместить в учреждения для исправления поведения.</li>
          <li>Заключенные, общающиеся с животными, также проявляют инициативу научиться чему-то новому.</li>
          <li>«Эта программа дала возможность заключенным не страдать от безделья, научить их ответственности и повысить их самооценку. Более того, после участия в этой программе, они стали чаще откликаться и на другие инициативы — записаться на курсы, обучаться новому ремеслу или больше заботиться о самих себе. Эта программа имеет явный терапевтический эффект.</li>
          <li>Программа показывает положительные результаты: животные становятся более социализированы, а заключенные становятся более спокойными и ответственными. </li>
          <li>Директор организации по защиты животных Мелая Стрингер говорит, что заключенные лично благодарили ее за такую чудесную предоставленную возможность о ком-то позаботиться. </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="feature-list">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center">
          <h1>Статьи по содержанию животных.</h1>
          <p>Ниже представлена интересная и нужная информация по содержанию <br>и получению животных,которая вам пригодится.</p>
        </div>
      </div>
    </div>
    <div class="row tab-row">
      <div class="col-lg-5 col-md-5">
        <ul class="tab-title">
          <li><span data-tab-name="tab1" class="hvr-bounce-to-right active">Как успокоить собаку в различных ситуациях</span></li>
          <li><span data-tab-name="tab2" class="hvr-bounce-to-right">Почему у кошки пахнет изо рта</span></li>
          <li><span data-tab-name="tab3" class="hvr-bounce-to-right">Как определить возраст кошки</span></li>
          <li><span data-tab-name="tab4" class="hvr-bounce-to-right">Как ухаживать за кошкой</span></li>
          <li><span data-tab-name="tab5" class="hvr-bounce-to-right">Как приручить собаку</span></li>
        </ul>
      </div>
      <div class="col-lg-7 col-md-7 wow bounceInRight">
        <div class="tab-content-box tab1">
          <h3>Как успокоить собаку в различных ситуациях</h3>
          <p>Успокоить собаку должен уметь как хозяин оной,<br> так и прохожий, который просто не понравился чужому псу.<br> И в процессе стоит помнить, что собака есть животное умное, <br>поддающееся дрессировке и выведенное специально для взаимодействия с человеком.<br> В этой статье будут рассмотрены разные методы успокоения собак во время тех или иных событий.</p>
          <h2>Как успокоить собаку во время стрижки</h2>
          <p>Cамое главное и нужное в данном случае – это уверенный хозяин,	<br> который точно знает, что делает. Если собака понимает,	<br> что может доверять своему владельцу, она успокоится самостоятельно. 	<br>Если же пёс всё-таки панически боится парикмахера, лучшим вариантом будет 	<br>отвлечение животного от проблемы посредством тех же игрушек или лакомств. 	<br>Ну а если не помогают и они, сойдут успокаивающие таблетки или вещества, будь то	<br> “кот-баюн” или всем известная “валерьянка”. Стоит добавить и ещё один способ утихомиривания 	<br>четвероногого друга – погуляйте с ним перед стрижкой, умотайте его играми. </p>
          <h2>Как успокоить агрессивную собаку</h2>
          <p>В первом случае аккуратно диагностируйте боль и, по возможности, помогите. <br> Если всё совсем плохо – обращайтесь к ветеринару. <br> Во втором случае достаточно спрятать от сучки игрушки, которые она может <br> принять за своих детёнышей. Устраните источник невроза, и он пройдёт. <br> Если не поможет и это – поможет ветеринар. Третий случай – случай в своём роде “особенный”,  <br>и связан с психологией нашего четвероногого. В конце концов, собака – животное стайное, <br> а стае нужен вожак. Если вы в глазах своего пса таковым не являетесь,  <br>он попытается занять место главного самостоятельно. <br> В таких случаях не пытайтесь кричать, бить любимца или делать <br> ещё что-либо подобное, ибо только усугубите ситуацию.  <br>Показывайте собаке уверенность, отдавайте ей команды и хвалите за их выполнение.  </p>
        </div>
      
        <div class="tab-content-box tab2">
          <h3>Почему у кошки пахнет изо рта</h3>
          <p> Опытный врач по запаху изо рта кошки легко определит, чем вызван этот неприятный симптом.
            Внимание! Не рекомендуется лечить животное без совета ветеринара.Иногда поставленный самостоятельно диагноз и неправильное лечение могут <br>только ухудшить состояние животного.<br>
            Если наблюдается немного сладковатый запах или запах ацетона, у вашего питомца развивается диабет.
            <br> Необходимо обязательно установить для животного строгую диету,
            <br> а возможно, назначить медикаментозное лечение.</p>
            <p>Если у кошки пахнет изо рта тухлятиной, то причин может быть несколько:
            – нарушение в работе кишечника (необходимо прочистить кишечник, скорректировать питание, в некоторых случаях отказаться от пищи,</p><p> <br>которую питомец кушал до этого времени, и выбрать другой корм);<br>
          – паразиты, живущие в кишечнике: причиной могут стать и гельминты; обычно неприятный запах возникает уже тогда,<br> когда глисты достаточно расплодились<br> в организме вашего питомца, поэтому увидеть их можно в фекалиях;<br> в этом случае лечение будет самым простым:<br> вашему питомцу необходимо выпить лекарство<br> (обычно одну таблетку в три месяца);<br> ветеринары рекомендуют принимать <br>антигельминтные средства и для профилактики;			</p>
            <p>	– инфекционные заболевания дыхательных путей: зачастую запущенные заболевания<br> носа и горла у животных переходят в такую стадию,<br> когда скопление слизи приводит к зловонию.<br>
          -Запах аммиака укажет на проблемы с почками у животного. Как правило, нарушение в их работе приводят в тому,<br> что не все вредные вещества выводятся из организма.<br> Задерживаясь в ротовой полости, они могут повредить и зубы питомца.<br>
          </p>
        </div>
        <div class="tab-content-box tab3">
          <h3>Как определить возраст кошки</h3>
          <p>Глаза – не только зеркало души, но и важный показатель возраста питомца.<br> Как узнать возраст кошки в домашних условиях по данному критерию?<br> Достаточно немного понаблюдать за поведением животного.<br>У молодых кошечек взгляд живой, быстро переходящий на интересный объект, немного шкодливый.<br> В солидном возрасте эти свойства обычно притупляются.<br>
            Стоит обратить внимание на структуру глаз питомца.<br>  У молодого животного стекловидное вещество ровное, без вкраплений, прозрачное.<br>  Радужка ровного цвета правильной формы.<br>  У старых кошек со временем глаз мутнеет и тускнеет, проявляется расслоение или деструкция стекловидного вещества.<br>  На радужке, которая обычно деформируется и становится тоньше, наблюдаются полосы и пятна.</p>
        <h3>Как определить возраст кошки по шерсти</h3>
        <p>Одним из решений вопроса «как определить возраст кота в домашних условиях»<br> является оценка состояния шерсти питомца.<br> Однако этот способ достаточно субъективен<br> и зависит от породы и окружающего климата.<br>
          У молодых животных шубка мягкая,<br> однородная, шелковистая и прочная. <br>С возрастом шерсть значительно редеет и тускнеет. <br>У старых кошечек появляются седые волосинки.</p>
            <br>
        </div>
        <div class="tab-content-box tab4">
          <h3>Как ухаживать за кошкой</h3>
          <p> Некоторые люди не могут представить свою жизнь без мягкого и теплого комочка<br>  – без его кошки или кота.<br> 

            Однако чтобы питомец чувствовал себя хорошо и комфортно,<br>  необходимо научиться ухаживать за кошкой в домашних условиях.<br>  Если вам это необходимо сделать, то данная статья именно для вас.<br> 
            
            Как ухаживать за кошкой</p>
          <p>1.Питание котенка.<br> Чем и как кормить своего питомца, решает хозяин.<br> Однако следует помнить, что есть запрещенные продукты, которым категорически <br>нельзя кормить котят и взрослых кошек. Если вы кормите питомца<br> сухим кормом, то не давайте ему никаких витаминов, в корме они уже есть. <br>А если ваш кот кушает исключительно натуральные продукты,<br> то обязательно добавляйте в рацион витамины.<br>
            2.Стрижка когтей.<br> С маленького возраста приучите котенка к стрижке когтей,<br> чем раньше вы это сделаете, тем лучше будет и для вас и для питомца.<br>
            3.Чистите коту уши.<br> С детства чистите питомцу уши – это необходимо регулярно делать.<br> Если вы не знаете, как ухаживать за ушами кошек, то проконсультируйтесь с ветеринаром.<br>
            4.Чистите коту зубы.<br> Приучайте питомца к этой процедуре, однако котятам чистите зубы не слишком часто.<br>
            5.Вычесывайте коту шерсть.<br> Регулярно причесывайте своего питомца.<br> Это необходимо для того, чтобы удалять отмершую шерсть.<br>
            6.Здоровье кота.<br> Следите за здоровьем своего питомца, возите его<br> на прием к ветеринару, вовремя делайте ему прививки и проводите дегельминтизацию.<br> При первых же симптомах заболевания, везите питомца в ветеринарную лечебницу.<br>
            7.Заботьтесь о питомце.<br> Уделяйте животному много времени, играйте с ним и воспитывайте его.<br> Коты чувствуют, когда их любят и ценят это.<br>
            8.Учитывайте особенности породы.<br> Покупая котенка, обязательно ознакомьтесь с <br>особенностями его породы. Ведь ухаживать за разными породами кошек, необходимо по-разному.<br>
            9.Помните, что кот – это член семьи.<br> Не забывайте о том, что четвероногий питомец – это полноценный член семьи. <br>Поэтому не обделяйте его и не обижайте.</p>
          <br>
          
        </div>
      
        <div class="tab-content-box tab5">
          <h3>Как приручить собаку</h3>
          <p>В первую очередь, узнайте, где воспитывался пес и по какой причине он остался без дома. <br>Ведь чаще всего, выгоняют агрессивных и опасных собак.<br>
            Если вы забрали взрослого уличного пса, то сначала ведите его не домой, а к ветеринару. <br>Вы должны удостовериться в том, что пес не опасен для членов вашей семьи.<br> Ведь на улице могут жить животные с опасными заболеваниями.<br>
            Помните, что поведение взрослого пса предугадать невозможно.</p>
            <p>Основная задача хозяина сделать так, чтобы собака ему доверяла. Ведь если между псом и хозяином не возникнет доверительной связи, то тогда собака не будет слушаться человека, выполнять команды и будет вести себя так, как ей захочется. Это обусловлено тем, что если нет доверия, то нет и уважения.

              Однако не путайте уважение и страх<br> – это разные вещи. Животное не должно бояться хозяина<br> и хозяин не должен быть «тираном» для питомца. Отношения между собакой <br>и человеком должны складываться таким образом, чтобы питомец чувствовал себя нужным,<br> и тогда он сделает все, чтобы не расстраивать хозяина.</p>
          <br>
          
        </div>
      
    </div>

  </div>
    </div>
</section>