<div class="preloader"></div>
<header id="header">
	<div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 logo">
                <a href="/"><img src="https://img.icons8.com/ios-filled/2x/cat.png" alt="Logo Image"></a>
            </div>
            <nav class="col-lg-9 col-md-9 col-sm-6 col-xs-6 mainmenu-container">
                <ul class="mainmenu clearfix">
                    <li class="nav-closer"><i class="fa fa-close"></i></li>
                    <li class="current scrollToLink dropdown">
                        <a href="/">Главная</a>
                            <ul class="submenu">
                            <li><a href="/video">Бездомность в наше время</a></li>
                            <li><a href="/blog">Близжайшие мероприятия</a></li>
                            </ul>
                    </li>
                    <li><a href="/why">Статистика и актуальность </a></li>
                    <li><a href="/effects">Последствия отсутствия</a></li>	
                    <li class="scrollToLink"><a href="/homeforanimal">Дом для животных</a></li>
                    <li class="scrollToLink dropdown"></li>
                </ul>
            </nav>
        </div>
    </div>
</header>