<section id="page-title" class="gradient-overlay">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1>Близжайшие мероприятия</h1>
				</div>
			</div>
		</div>
	</section>
	<section id="blog"  class="blog-archive">
		<div class="container">
			<div class="row blog-post-container">
				<div class="col-lg-8 col-md-8 col-sm-12">
					<div class="row">
						<div class="single-post thumbnail col-lg-12 col-md-12 col-sm-12 ">
							<div class="img-holder pull-left">
								<img src="https://i.sakh.com/info/p/photos/11/111387/f56aaefad4f9fe.jpg" alt="">
							</div>
							<div class="content pull-left">
								<h3>Помоги бездомным животным</h3>
								<p class="meta"><a >Дата проведения мероприятия</a>22 Апреля 2019</p>
								<p>Мероприятие проводится в целях найти животным новый дом, <br> от которых отказались люди не имея на то веских причин.<br>Животные будут представленые в теплом здании оборудованным для проведений данных мероприятий.<br>Каждый желающий может взять себе домой любое животное.</p>
							</div>
						</div>
						<div class="single-post thumbnail col-lg-12 col-md-12 col-sm-12 ">
							<div class="img-holder pull-left">
								<img src="https://img5.goodfon.ru/original/640x480/7/2c/kotionok-shchenok-malyshi.jpg" alt="">
							</div>
							<div class="content pull-left">
								<h3>Покорми животное и забери домой.</h3>
								<p class="meta"><a >Дата проведения мероприятия</a>28 Апреля 2019</p>
								<p>Приходи всей семьей,чтоб покормить животное <br> и подарить ему любовь,которую он заслужил как никто другой.Большинство животных беспричинно остались без дома<br>они вынуждены скитаться по улицам в надежде обрести покой с кем-нибудь.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-lg-push-0 col-md-push-0 col-sm-push-3">
					<div class="single-post">
						<div class="img-holder">
							<img src="http://gazeta-mm.ru/media/k2/items/cache/63198582d1c1e0def3af8815b5899e1f_L.jpg" alt="">
						</div>
						<div class="content">
							<h3>Не дадим животным умереть</h3>
							<p class="meta"><a >Дата проведения мероприятия</a> 10 Мая 2019</p>
							<p>Большинство животных сейчас находятся на улицах,в то время,как мы сидим в теплых домах. <br>Данный митинг будет побуждать людей думать не только о себе,<br>но и о беспомощных созданиях,которые тоже заслуживают жить в тепле. </p>
						</div>
					</div>
				</div>
			</div>
			<div class="row blog-post-container">			
				<div class="col-lg-4 col-md-4 col-sm-6 col-lg-push-0 col-md-push-0 col-sm-push-3">
					<div class="single-post">
						<div class="img-holder">
							<img src="https://static.rueconomics.ru/uploads/2018/11/13/orig-1542096449027438798a7bb3b8204f72e2ff0fb3de.jpeg" alt="">
						</div>
						<div class="content">
							<h3>Что если совместить дом пристарелых и приют</h3>
							<p class="meta"><a >Дата проведения мероприятия</a> 15 Мая 2019</p>
							<p>Совместить пожилых людей и милых животных разве не прекрасная идея?  <br>Данный вебинар будет показывать государству, что есть множество возможностей уменьшить количество бездомных животных <br> не стоя новых зданий.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-12">
					<div class="row">
						<div class="single-post thumbnail col-lg-12 col-md-12 col-sm-12 wow fadeIn">
							<div class="img-holder pull-left">
								<img src="https://regnum.ru/uploads/pictures/news/2015/08/18/1439894002_iartfilerujpg_normal.jpg" alt="">
							</div>
							<div class="content pull-left">
								<h3>Нам жалко животных,но мы ничего не предпринимаем.</h3>
								<p class="meta"><a >Дата проведения мероприятия</a> 22 Апреля 2020</p>
								<p>Почему мы проходим мимо бедных животных и ничего не делаем,когда <br> когда им больно и холодно.Когда людям плохо и больно,животное всегда придет к нему на помощь <br>даже не задумываясь о себе. <br>Думая о таком человечеству должно быть стыдно за то что они ничего не делают.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		
		</div>
	</section>
	<section id="event-sponsor">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                <div class="section-title">
                  <h3>Приюты, с которыми наш сайт сотрудничает. </h3>
                   <p>"Мы их спасаем понемножку, Мы подбираем их в пыли… Но на душе скребутся кошки, Мимо которых мы прошли."<br>
      
                    Этот маленький стишок, как ни как, очень трогает за душу, отображая реальность. Недавно рожденные котята и щенята, <br>
                    у которых только прорезались глазки, видя мир, подаренный им единожды, обречены на страдание без любящих опекунов — людей.<br>
      
                    Многие из них не способны на самостоятельную жизнь в городских джунглях, не приспособленных для них условиях.<br>
                     Да, очень малая часть из них привыкает к такому виду жизни, собираясь в стаи. Однако большая часть их погибает под колесами машин,<br>
                      часть умирает с голоду, а третья вообще умирают от болезней…<br>
                    
                    Ведь это же не сложно, взять и спасти одну крохотную жизнь, подарив ей ласку, тепло и нежность. Которая, несомненно, будет взаимной!<br>
                  
                    Ведь нет ничего ужаснее для животных, если они с детства росли в семье, а позже, когда котенок или щенок выросли, хозяева решают <br>
                    выбросить его на улицу. Причины различны, но в основном это непослушание маленького зверя. <br>
                    Нельзя допускать такого, «Мы в ответе за тех, кого приучили» . Нужно бороться с преградами, тренируя своего питомца, <br>
                    ведь это тоже живой организм, ему свойственны всплески эмоций, привычки. Необходимо с пониманием подходить к делу, а не искать легкий выход, оставить его на улице. На улице он пропадет…<br>
                    
                    Берегите своих домочадцев, именно любовь может воспитать даже в самом диком звере, уважение и привязанность!</p>
                        <p>Если после прочтения данного сайта вам захотелось помочь приюту или приобрести какое-либо животное.<br>Переходите по ссылке крупных приютов Москвы и сделайте этот мир лучше</p> 
                   
                        <h3><a href="http://www.izpriuta.ru" target="_blank">Приют Бирюлево</a></h3>
                        <h3><a href="http://priut-ks.ru " target="_blank">Приют для бродячих животных № 10</a></h3>
                    </div>
              </div>
            </div>
      </div>
  </section>